/*Reset CSS Settings */ 

*{
	margin: 0px;
	padding: 0px;
}

/* * * * * * * * * * * * * * *
 * TOP Section               *
 * * * * * * * * * * * * * * */

.container{
	width: 970px;
	height: 800px;
	background-color: red;
}

.header{
	width: 970px;
	height: 60px;
	background-color: #f6f6f6;
	display: block;
	padding-top: 10px;
}

/* * * * * * * * * * * * * * *
 * Body Section              *
 * * * * * * * * * * * * * * */

#about_me{
	width: 970px;
	height: 200px;
	background-color: yellow;
}

/*#photo{
	background-color: black;
	display: inline-block;
	width: 360px;
	height: 350px;
	padding: 20px;
	/*margin-left: 40px;
	margin: 10px;
	vertical-align: top;*/
/*}*/

/*figure {
	display: inline-block;
	width: 360px;
	margin: 20px;
}

figure img{
	width: 100%;
	margin: 20px;
	border: 4px color: #c0bfbf;*/

/*}*/


.about_me img{
	width: 360px;
	height: 250px;
	margin: 20px;
	vertical-align: top;
	border: 4px solid #c0bfbf;
	display: inline-block;
}

#about{
	background-color: teal;
	width: 522px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	/*margin: 10px;*/
	margin-top: 20px;
}

#about h3{
	background-color: #9e9da5;
	display: block;
	padding: 10px;
}

#about p{
	padding: 5px;

}

#about a{
	padding: 10px;
}

#content{
	width:970px;
	height: 530px;
	background-color: green;

}

#content p{
	padding: 20px;
	display: block;
}

#content img{
/*	width: 100px;
	height: 100px;*/
	/*vertical-align: top:;*/
}

#lamode_img{
	height: 140px;

}
.logo{
	width: 40px;
	height: 40px;
	display: inline-block;
	
}

.text_box_header{
	background-color: #8a8895;
	vertical-align: top;
	color: #fdf8f1;
	margin: 0px;
}


#la_mode {
	background-color: white;
	width: 255px;
	height: 465px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
	padding: 20px;
	vertical-align: top;
}




/*.text_box_header h3{

}*/

#family_contacts{
	background-color: orange;
	width: 255px;
	height: 465px;
	display: inline-block;
	margin-left: 10px;
	padding: 20px;
}

#fiveEleven{
	background-color: purple;
	width: 255px;
	height: 465px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	padding: 20px;

}


/* * * * * * * * * * * * * * *
 * Bottom Section            *
 * * * * * * * * * * * * * * */

#footer{
	width: 970px;
	height: 60px;
	background-color: brown;
	display: block;
	vertical-align: bottom;
}