/*Reset CSS Settings */ 

*{
	margin: 0px;
	padding: 0px;
}

/* * * * * * * * * * * * * * *
 * TOP Section               *
 * * * * * * * * * * * * * * */

.container{
	width: 970px;
	height: 800px;
	background-color: red;
}

.header{
	width: 970px;
	height: 60px;
	background-color: #f6f6f6;
	display: block;
	padding-top: 10px;
}

/* * * * * * * * * * * * * * *
 * Body Section              *
 * * * * * * * * * * * * * * */

#about_me{
	width: 970px;
	height: 200px;
	background-color: yellow;
}

/*#photo{
	background-color: black;
	display: inline-block;
	width: 360px;
	height: 350px;
	padding: 20px;
	/*margin-left: 40px;
	margin: 10px;
	vertical-align: top;
}*/

#photo img{
	width: 380px;
	height: 400px;
	border: 7px solid #c0c0c0;
	margin: 10px;
	vertical-align: top;
}

#about{
	background-color: teal;
	width: 490px;
	height: 411px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

#about h3{
	background-color: #9e9da5;
	display: block;
	padding: 10px;
	font-size: 30px;
}

#about p{
	padding: 10px;
	font-size: 22px;
}

#about a{
	font-size: 22px;
	padding: 10px;
}

#content{
	width:970px;
	height: 530px;
	background-color: green;

}

#la_mode{
	background-color: white;
	width: 255px;
	height: 465px;
	display: inline-block;
	margin-left: 20px;
	padding: 20px;
	vertical-align: top;

}

.text_box_header{
	height: 100px;
	/*width: 60px;*/
	padding-top: 10px;
	display: block;
}

#family_contacts{
	background-color: orange;
	width: 255px;
	height: 465px;
	display: inline-block;
	margin-left: 10px;
	padding: 20px;
}

#fiveEleven{
	background-color: purple;
	width: 255px;
	height: 465px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	padding: 20px;

}

/* * * * * * * * * * * * * * *
 * Bottom Section            *
 * * * * * * * * * * * * * * */

#footer{
	width: 970px;
	height: 60px;
	background-color: brown;
	display: block;
	vertical-align: bottom;
}