/*Reset CSS Settings */ 

*{
	margin: 0px;
	padding: 0px;
}

/* * * * * * * * * * * * * * *
 * TOP Section               *
 * * * * * * * * * * * * * * */

.container{
	width: 970px;
/*	height: 800px;*/
	background-color: #4a373f;
	padding-bottom: 15px;
}

.header{
	width: 970px;
	height: 60px;
	background-color: #f6f6f6;
	display: block;
	padding-top: 10px;
}

.header h1, h2{
	height: 100px;
	padding-top: 10px;
	display: inline-block;

}

.header h1{
	padding-left: 5px;
}

.header h2{
	position: relative;
	left: 400px;
	
}

/* * * * * * * * * * * * * * *
 * Body Section              *
 * * * * * * * * * * * * * * */

/*#about_me{
	width: 970px;
	height: 200px;
	background-color: ##e9e1e9;
}
*/
/*#photo{
	background-color: black;
	display: inline-block;
	width: 360px;
	height: 350px;
	padding: 20px;
	/*margin-left: 40px;
	margin: 10px;
	vertical-align: top;*/
/*}*/

/*figure {
	display: inline-block;
	width: 360px;
	margin: 20px;
}

figure img{
	width: 100%;
	margin: 20px;
	border: 4px color: #c0bfbf;*/

/*}*/


.about_me img{
	width: 360px;
	height: 250px;
	margin: 20px;
	vertical-align: top;
	border: 4px solid #c0bfbf;
	display: inline-block;
}

#about{
	background-color: teal;
	width: 522px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	/*margin: 10px;*/
	margin-top: 20px;
	background-color: #e9e1e9;
}

#about h3{
	background-color: #a09fa7;
	display: block;
	padding: 10px;
}

#about p{
	padding: 5px;

}

#about a{
	padding: 10px;
}

#content{
	width:970px;
	/*height: 530px;*/
	/*background-color: green;*/
	margin-bottom: 10px;

}

#content p{
	padding: 10px;
	display: block;
}

#content img{
/*	width: 100px;
	height: 100px;*/
	/*vertical-align: top:;*/
}

#lamode_img{
	height: 140px;
	width: 298px;
}

#fiveel{
	height: 140px;
	width: 289px;
}
.logo{
	width: 40px;
	height: 40px;
	display: inline-block;
	
}

.text_box_header{
	background-color: #8a8895;
	vertical-align: top;
	color: #fdf8f1;
	margin: 0px;
	padding-left: 8px;
}


#la_mode {
	background-color: #f1ecf1;
	width: 300px;
	height: 546px;
	display: inline-block;
	margin-left: 20px;
	/*padding: 20px;*/
	padding-top: 0px;
	margin-top: 0px;
	vertical-align: top;
}
/*.text_box_header h3{

}*/
#fam_img{
	height: 140px;
	width: 300px;
}

#family_contacts{
	background-color: #f1ecf1;
	width: 300px;
	height: 546px;
	display: inline-block;
	margin-left: 20px;
	/*padding: 20px;*/
	padding-top: 0px;
	vertical-align: top;
}

#family_contacts p{
	width: 225;
	/*padding: 5;*/
}


#fiveEleven{
	background-color: #f1ecf1;
	width: 290px;
	height: 546px;
	display: inline-block;
	margin-left: 20px;
	/*padding: 20px;
*/	padding-top: 0px;
	vertical-align: top;
	margin-right: 10px;

}

.Techeader{
	background-color: #8a8895;
	vertical-align: top;
	color: #fdf8f1;
	margin: 0px;
	padding-left: 8px;
}

.button{
background-color:    #407d61;
border:        1px solid #426c59;
border-radius: 11px;
box-shadow:    1px 1px #444444;
padding:       8px 8px;
color:         #f1e6b6;
display:       inline-block;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
font-size: 12px;

}


/* * * * * * * * * * * * * * *
 * Bottom Section            *
 * * * * * * * * * * * * * * */

#footer{
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	height: 40px;
	background-color: #f6f6f6;
	display: block;
	position: relative;
	text-align: center;
	/*vertical-align: bottom;*/
	padding: 0;
}